name: dbt Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  dbt-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run dbt tests
        run: |
          cd medical_warehouse
          dbt test