name: dbt CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  dbt-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres@19
          POSTGRES_DB: medical_warehouse
        ports:
          - 5433:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install dbt-postgres

      - name: Run dbt tests
        run: |
          cd medical_warehouse
          dbt deps
          dbt test
